includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/

    # Level 9 is the highest level
    level: 4

    ignoreErrors:
#        - '#PHPDoc tag @var#'
#        - '#Call to an undefined method ProtoneMedia\\LaravelFFMpeg\\Drivers\\PHPFFMpeg::toDisk\(\)#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
